<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
    </head>
    <body>
        <div>
            @Html.Partial("Navigation");
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <div class="jumbotron">
  <h1 class="display-4">SOFTWARE ENGINEER</h1>
  <p class="lead">
        <ul>
            <li>Software Engineering </li>
            <li>Systems and Architecture Analysis </li>
            <li> Object-Oriented Design</li>
        </ul>
Skilled professional with experience in Information Technology, Systems with emphasis on software development and modern technologies.</p>
  
  <hr class="my-6">
  <div class = "col col-md-8">
    <ul class="list-group">
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258;</span>
                &nbsp;&nbsp;Advanced technical skills in computer systems involving desktop and web    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258;</span>
                &nbsp;&nbsp;Object-Oriented Software Development using C++, C#, PHYTON, and JAVA    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258;</span>
                &nbsp;&nbsp;gile development; design and analysis using: JAVA technology; MVC ASP.NET    
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258;</span>
                &nbsp;&nbsp;Front end development: HTML, JavaScript, JQuery, AngularJS, CSS and Bootstrap    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
                &nbsp;&nbsp;Full stack development with: ASP.NET MVC; Python; JavaScript and Node; Swift    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
                &nbsp;&nbsp;Database design and analysis using: MS SQL, MySQL, Hibernate, MongoDB, OData, Socrates Open Data    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
                &nbsp;&nbsp;Enterprise certification for quality assurance as restricted inspector of processes and products in the aerospace industry    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
                &nbsp;&nbsp;Advanced mathematics, numerical analysis, and physics knowledge    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
               &nbsp;&nbsp; Diverse communication skills that include bilingual speaking and writing:  Spanish and English    
        </li>
        <li class="list-group-item d-flex  align-items-center">
            <span class="badge badge-primary badge-pill">&#xe258; </span>
                &nbsp;&nbsp;Team-oriented approach to programming, design review and software lifecycle development    
        </li>
    </ul>
</div>
<hr class="my-6">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
            


        </div>
        <script src="" async defer></script>
        <div>
            @Html.Partial("FooterScript");
        </div>
    </body>
</html>